<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/triangle/" method="POST">
        {% csrf_token %}
        <label for="leg"> Input length of two legs of triangle </label>
        <label for="leg_1"></label><input id="leg_1" type="text" name="leg_1" value="{{ leg_1 }}">
        <label for="leg_2"></label><input id="leg_2" type="text" name="leg_2" value="{{ leg_2 }}">
        <input type="submit" value="submit">
    </form>
</body>
</html>